## 데이터 보호
informations/jsons/**/* 
informations/**/*.json
informations/**/*.sql
informations/**/*.db
informations/logs/*
informations/db/*
**/*.sqlite3
**/**/*.jpg

## 실험 코드 보호
experiment/


## 실행파일 보호
**/*.sh
*.sh

## 로그파일 보호
**/*.out
**/*.txt
**/*.log

## 그냥 내가 보기 싫어서 없애둔 것들
**/.ipynb_checkpoints
**/**/*-checkpoint*
**/Untitled.ipynb
**/**/*.pyc
