<html>
    {% load static %}
    <title>룰루랄라 신난다.</title>
    <body>
        <div class="container">
            <h2>다크모드 실험을 위한 제목</h2>
            <p>안녕하세요. 다크모드를 도입하기 위한 예제입니다.</p>
            <p>다크모드는 사용자의 눈을 편안하게 해주는 기능을 합니다.</p>
            <p class = 'hello'>오늘은 바로 이 <kbd>다크모드</kbd>를 구현하는 방법을 알아볼 겁니다.</p>
            <div class="line6">
          <input type="checkbox" id="theme_toggle">
            <label for="theme_toggle" class="toggle2">
              <span class="toggle__handler">   
              </span>
           </label>
            </div>
          </div>
    </body>
    <script type="text/javascript" src={% static "custom/js/custom.js" %}></script>
    <!-- <link href={% static "custom/css/custom.css" %} rel="stylesheet"> -->
</html>


<style>
  h2 {margin-left : 50%;}
</style>
