{% load static %}

<html>
    <head><title>비둘기 둥지</title></head>
    <body>
        <table>
            <td>가나다라</td>
        </table>
    </body>
</html>

<!-- Tensorflow.js 로드 -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<script>

    const tfn = require("@tensorflow/tfjs-node");

    const handler = tfn.io.fileSystem("./static/models/model.json");
    const model   = tf.loadLayersModel(handler);

    console.log(model); 

    // const cat = document.getElementById('cat');
    // model.execute(tf.browser.fromPixels(cat));

</script>