{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src={% static "assets/images/profile.jpg" %} alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <span>Offline</span>
                      <h4>Kim Smithee</h4>
                      <p>You Haven't Gone Live yet. Go Live By Touching The Button Below.</p>
                      <div class="main-border-button">
                        <a href="#">Start Live Stream</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>내가 보유하고 있는 게임 <span style="margin-left: 15%">| {{ num_games }}</span></li>
                      <li>Friends Online <span style="margin-left: 30%"> | 16</span></li>
                      <li>Live Streams <span style="margin-left: 35%"> | None</span></li>
                    </ul>
                  </div>
                </div>

                <!-- 클립 띄워주는 부분이라는데 나한테는 필요없을 듯 -->
                <!-- <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4><em>Your Most Popular</em> Clips</h4>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img src={% static "assets/images/clip-01.jpg" %} alt="" style="border-radius: 23px;">
                              <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>First Clip</h4>
                              <span><i class="fa fa-eye"></i> 250</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img src={% static "assets/images/clip-02.jpg" %} alt="" style="border-radius: 23px;">
                              <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>Second Clip</h4>
                              <span><i class="fa fa-eye"></i> 183</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img src={% static "assets/images/clip-03.jpg" %} alt="" style="border-radius: 23px;">
                              <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>Third Clip</h4>
                              <span><i class="fa fa-eye"></i> 141</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img src={% static "assets/images/clip-04.jpg" %} alt="" style="border-radius: 23px;">
                              <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>Fourth Clip</h4>
                              <span><i class="fa fa-eye"></i> 91</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="main-button">
                            <a href="#">Load More Clips</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- 대신 추후에 필요할 수도 있으니 지우지는 않고, 주석만 -->

              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Gaming Library Start ***** -->

          <!-- 탭에 맞게 내용수정하도록 수정 중 -->
          <div class="container">
            <!-- 탭 상단 메뉴  -->
            <ul class="tabs">
              <li class="tab-link current" id="steam" data-tab="tab-1">Steam</li>
              <li class="tab-link" id="riot" data-tab="tab-2">Riot</li>
              <li class="tab-link" id="epic" data-tab="tab-3">EpicGames</li>
            </ul>
            <!-- 탭 상단 메뉴 끝 -->

            <div class="gaming-library profile-library tab-content current" id="tab-1">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>최근 플레이한 게임</h4>
                </div>
                {% for data in datas %}
                  <div class="item">
                    <ul>
                      <li><img src={{ data.image }} alt="" class="templatemo-item"></li>
                      <li><h4>Title</h4><span>{{ data.name }}</span></li>
                      <li><h4>Genres</h4><span>{{ data.genre }}</span></li>
                      <li><h4>Hours Played</h4><span>{{ data.played_time }}</span></li>
                      <li><h4>Last Played</h4><span>{{ data.last_played }}</span></li>
                      <li><div class="main-border-button border-no-active"><a href="#">상세 정보</a></div></li>
                    </ul>
                  </div>
                {% endfor %}
                
              </div>
            </div>

            <div class="gaming-library profile-library tab-content" id="tab-2">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>아직 준비 중 입니다.</h4>
                </div>
                <!-- <div class="item">
                  <ul>
                    <li><img src={{ data.image }} alt="" class="templatemo-item"></li>
                    <li><h4>Title</h4><span>{{ data.name }}</span></li>
                    <li><h4>Genres</h4><span>{{ data.genre }}</span></li>
                    <li><h4>Hours Played</h4><span>{{ data.played_time }}</span></li>
                    <li><h4>Last Played</h4><span>{{ data.last_played }}</span></li>
                    <li><div class="main-border-button border-no-active"><a href="#">상세 정보</a></div></li>
                  </ul>
                </div> -->
              </div>
            </div>

            <div class="gaming-library profile-library tab-content" id="tab-3">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>아직 준비 중 입니다.</h4>
                </div>
                <!-- <div class="item">
                  <ul>
                    <li><img src={{ data.image }} alt="" class="templatemo-item"></li>
                    <li><h4>Title</h4><span>{{ data.name }}</span></li>
                    <li><h4>Genres</h4><span>{{ data.genre }}</span></li>
                    <li><h4>Hours Played</h4><span>{{ data.played_time }}</span></li>
                    <li><h4>Last Played</h4><span>{{ data.last_played }}</span></li>
                    <li><div class="main-border-button border-no-active"><a href="#">상세 정보</a></div></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>

  <script src={% static "assets/js/isotope.min.js" %}></script>
  <script src={% static "assets/js/owl-carousel.js" %}></script>
  <script src={% static "assets/js/tabs.js" %}></script>
  <script src={% static "assets/js/popup.js" %}></script>
  <script src={% static "assets/js/custom.js" %}></script>

  <script type="text/javascript" src={% static "custom/js/custom.js" %}></script>
  <link href={% static "custom/css/custom.css" %} rel="stylesheet">
  
  <script>
    $(document).ready(function(){
    
      $('ul.tabs li').click(function(){
        var tab_id = $(this).attr('data-tab');
  
        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');
  
        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
        
        console.log(this.id);
  
        $.ajax({
            url     : "{% url 'profile:ajax_profile' %}",
            type    : "POST", dataType : "json",
            headers : {"X-CSRFToken" : "{{ csrf_token }}"},
            data    : JSON.stringify({"id" : this.id}),
            success : function(data){ 
                        console.log("Django 민수야 고맙다"); 
                      },
            error   : function(request, error){ alert(request.status); }
        });
      });
  
    });
  </script>

  <style>
    :root {
      --tab-color: #783ba3;
    }
    
    .darkmode{
      --tab-color: #1f2122;
    }

    ul.tabs{
      margin: 0px;
      padding: 0px;
      padding-top: 5%;
      list-style: none;
      border-radius: 23px;
    }

    ul.tabs li{
      display: inline-block;
      background: var(--tab-color);
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #e0e0e0;
      color: #222;
    }

    .tab-content{
      display: none;
      background: var(--tab-color);
      padding: 12px;
    }

    .tab-content.current{
      display: inherit;
    }
  </style>

{% endblock %}