{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row" >
            <div class="col-lg-12">
                <div class="page-content" style="margin-top: 13%;">
                    <div class="sale-info">

                        <table class="sale-info-table">
                            <thead>
                                <tr class="table-dark">
                                    <th>번호</th>
                                    <th>썸네일</th>
                                    <th>이름</th>
                                    <th>장르</th>
                                    <th>원본 가격</th>
                                    <th>할인율</th>
                                    <th>할인 가격</th>
                                    <th>링크</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if datas%}
                                    {% for data in datas %}
                                        <tr>
                                            <td class = 'table-index'.    >{{ forloop.counter }}</td>
                                            <td class = 'table-thumbnail' ><img src = {{ data.image }}></td>
                                            <td class = 'table-name'      >{{ data.name }}</td>
                                            <td class = 'table-genre'     >{{ data.genre }}</td>
                                            <td class = 'table-original'  >{{ data.original }}</td>
                                            <td class = 'table-percentage'>{{ data.percentage }}</td>
                                            <td class = 'table-discounted'>{{ data.discounted }}</td>                                            
                                        </tr>
                                    {% endfor%}
                                {% else %}
                                    오늘의 할인 정보가 없습니다.
                                {% endif%}
                            </tbody>
                        </table>

                        <!-- 페이징 해주는 부분 -->
                        <ul class="pagination justify-content-center">

                            <!-- 이전 페이지가 있는 경우에 -->
                            {% if datas.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ datas.previous_page_number}}"> |< </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> |< </a>
                                </li>
                            {% endif %}

                            <!-- 페이지 리스트 제작하는 부분 -->
                            {% for page_num in datas.paginator.page_range %}
                                {% if page_num >= datas.number|add:-5 and page_num <= datas.number|add:5 %}
                                    <!-- 페이지 넘버와 현재 들어와 있는 페이지 번호가 동일한 경우 -->
                                    {% if page_num == datas.number %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endif%}
                            {% endfor %}
                            
                            <!-- 다음 페이지가 있는 경우에 -->
                            {% if datas.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ datas.next_page_number }}">>|</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="?page={{ datas.next_page_number }}">>|</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>

    <script src={% static "assets/js/isotope.min.js" %}></script>
    <script src={% static "assets/js/owl-carousel.js" %}></script>
    <script src={% static "assets/js/tabs.js" %}></script>
    <script src={% static "assets/js/popup.js" %}></script>
    <script src={% static "assets/js/custom.js" %}></script>

    <script type="text/javascript" src={% static "custom/js/custom.js" %}></script>
    <link href={% static "custom/css/custom.css" %} rel="stylesheet">

    <style>
        table, th, td, tr {
            border          : 1px solid white;
            border-collapse : collapse;
        }

        th, td {
            background-color: #96D4D4;
        }

        .table-name       { width : 25%; }
        .table-genre      { width : 20%; }
        .table-index      { width : 4%; }
        .table-thumbnail  { width : 15%; }
        .table-original   { width : 10%; }
        .table-percentage { width : 5%; }
        .table-discounted { width : 10%; }
        
    </style>
{% endblock %}